.item {
    justify-content: space-evenly;

    p,
    input,
    button {
        margin: 20px;
    }

    background-color: orange;
    width: 20%;
}

.frm {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // background-color: blueviolet;
    height: 40px;
}

.frm>* {
    margin-left: 20px;
    /* Replace 10px with the desired margin */
    margin-right: 20px;
    /* Replace 10px with the desired margin */
}

.frmpar {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
    margin: 20px;
    margin-bottom: 80px;
}

body {
    background-color: blueviolet;
}

.desc {
    width: 500px;
    height: 100px;
}

.btn {
    background-color: blue;
    width: 80px;
    font-weight: bold;
}
.logout{
    height: 40px;
    margin-top: 10px;
    background-color: red;
    font-weight: bold;
}